body {
  margin: 0;
  padding: 0;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.num {
  width: 35px;
  height: 35px;
  font-size: 20px;
  margin: 2px;
  cursor: pointer;
}

.textview {
  margin: 5px;
  width: 160px;
  font-size: 20px;
}
